---
import Layout from "../layouts/defaultLayout.astro";
import ChatButton from "../components/chatButton.astro";
import Card from "../components/projectCard.astro";
import { referrals, projects } from "../../site.ts";
---

<Layout>
  <main class="pt-28">
    <div class="grid grid-cols-1 sm:grid-cols-8 lg:grid-cols-12 gap-x-8 gap-y-10 transition-any smooth">
      <!-- Testimonials & CTA -->
      <div class="lg:col-span-6 hidden lg:block mt-3">
        <div class="flex gap-5 mb-10 w-11/12">
          <div class="w-0.5 h-full min-h-20 bg-white"></div>
          <div class="opacity-90">
            <div class="">"{referrals.reframe.referral}"</div>
            <div class="mt-1">- {referrals.reframe.author}</div>
          </div>
        </div>
        <ChatButton />
      </div>

      <!-- Intro -->
      <div class="col-span-full md:col-span-6 mb-6">
        <div class="w-full">
          <div class="text-[26px] md:text-[32px] font-semibold leading-relaxed">Hey, I'm Feyisola. <br /> A product designer who builds his ideas</div>
          <div class="mt-5 opacity-90">
            I obsess about little details that show up on a screen via the interwebs. I design interactions to be intuitive and accessible often bringing them to life in production-quality code. I
            currently work at ...
          </div>
        </div>
      </div>

      <!-- Case Studies -->
      <Card
        class="sm:col-span-4"
        name={projects.reframe.name}
        href={projects.reframe.href}
        tags={projects.reframe.tags}
        description={projects.reframe.description}
        images={projects.reframe.images}
        isAboveFold={true}
        transition:name=`${projects.reframe.name} Image`
      />
      <Card
        class="sm:col-span-4"
        name={projects.accredit.name}
        href={projects.accredit.href}
        tags={projects.accredit.tags}
        description={projects.accredit.description}
        images={projects.accredit.images}
        isAboveFold={true}
        transition:name=`${projects.accredit.name} Image`
      />
      <Card
        class="sm:col-span-4"
        name={projects.citisquare.name}
        href={projects.citisquare.href}
        tags={projects.citisquare.tags}
        description={projects.citisquare.description}
        images={projects.citisquare.images}
        isAboveFold={true}
        transition:name=`${projects.citisquare.name} Image`
      />
    </div>
  </main>
</Layout>
