---
import "@fontsource/plus-jakarta-sans"
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  image?: string;
}

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/opengraph-image.png" } = Astro.props;
---

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Feyisola Olawuyi" />
    <title>{title}</title>

    <link rel="canonical" href={Astro.url} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <meta name="astro-view-transitions-enabled" content="true" />
    <meta name="astro-view-transitions-fallback" content="animate" />

    <script is:inline>
      const theme = localStorage.getItem('theme') ?? 'dark';
      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
    </script>
    <ClientRouter/>