---
import { referrals } from "../../site";
import { reframe } from "../content/works/reframe";
import { accredit } from "../content/works/accredit";
import { citisquare } from "../content/works/citisquare";
import Card from "../components/projectCard.astro";
import Layout from "../layouts/defaultLayout.astro";
import ChatButton from "../components/chatButton.astro";
---

<Layout>
  <main class="pt-28">
    <div class="grid grid-cols-1 sm:grid-cols-8 lg:grid-cols-12 gap-x-8 gap-y-10 transition-any smooth" style="scroll-snap-type: y mandatory;">
      <!-- Testimonials & CTA -->
      <div class="lg:col-span-6 hidden lg:block mt-3">
        <div class="flex gap-5 mb-10 w-11/12">
          <div class="w-0.5 h-full min-h-20 bg-black dark:bg-white"></div>
          <div class="opacity-90">
            <div class="">"{referrals.reframe.referral}"</div>
            <div class="mt-1">- {referrals.reframe.author}</div>
          </div>
        </div>
        <ChatButton />
      </div>

      <!-- Intro -->
      <div class="col-span-full md:col-span-6 lg:mb-6">
        <div class="w-full">
          <div class="text-[26px] md:text-[32px] font-semibold leading-relaxed">Hey, I'm Feyisola. <br /> A product designer who builds his ideas</div>
          <div class="mt-5 opacity-90">
            I obsess about little details that show up on a screen via the interwebs. I design interactions to be intuitive and accessible often bringing them to life in production-quality code. I
            currently work at ...
          </div>
        </div>
      </div>

      <!-- Chat button on smaller screens -->
       <div class="col-span-full lg:hidden mb-6">
          <ChatButton />
       </div>

      <!-- Case Studies -->
      <Card
        class="sm:col-span-4 bg-green-50"
        name={accredit.name}
        href={accredit.href}
        tags={accredit.tags}
        description={accredit.description}
        images={accredit.images}
        isAboveFold={true}
        transition:name=`${accredit.name} Image`
      />
      <Card
        class="sm:col-span-4 bg-violet-50"
        name={reframe.name}
        href={reframe.href}
        tags={reframe.tags}
        description={reframe.description}
        images={reframe.images}
        isAboveFold={true}
        transition:name=`${reframe.name} Image`
      />
      <Card
        class="sm:col-span-4 bg-blue-50"
        name={citisquare.name}
        href={citisquare.href}
        tags={citisquare.tags}
        description={citisquare.description}
        images={citisquare.images}
        isAboveFold={true}
        transition:name=`${citisquare.name} Image`
      />
    </div>
  </main>
</Layout>
